langchain
langchain-groq
faiss-cpu
tiktoken
langchain-openai
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
pypdf
pymupdf
python-dotenv
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
matplotlib
seaborn


## Embedding Models
langchain-huggingface
sentence-transformers

##
langchain-google-genai

langchain_classic
langchain-experimental
rank_bm25